<div class="blog-title">
    <p><strong>Talk About Recycling With The World</strong></p>
</div>

<div class="row col-12">

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="./assets/recycle_3.png" class="card-img" alt="placeholder-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="/post/{{post.id}}"><h5 class="card-title">{{post.title}}</h5></a>
                    <p class="card-text">{{post.content}}</p>
                    <p class="card-text"><small class="text-muted">Posted by {{post.user.username}} on {{format_date post.created_at}}
                    |
                    {{post.comments.length}} {{format_plural "comment" post.comments.length}}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
