<div class="hero">
    <div class="opening-text">
        <p>Looking for more information about recycling? <br/> 
        Using Simply ReUse makes this as easy as 1, 2, 3. </p>

        <button><a href="/recycle">Learn More &nbsp;
        <i class="far fa-arrow-alt-circle-right"></i></a>
        </button>
        </div>
    </div>
</div>

<div class="hero-image">
    <img src="/assets/recycle_hero.png" /> 
</div>

<div class="blog-hometitle">
    <p>Start the Conversation</p>
</div>

<div class="row col-12">

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="./assets/200.png" class="card-img" alt="placeholder-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.content}}</p>
                    <p class="card-text"><small class="text-muted">Posted by {{post.user.username}} on {{post.created_at}}
                    |
                    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a></small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="./assets/200.png" class="card-img" alt="placeholder-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.content}}</p>
                    <p class="card-text"><small class="text-muted">Posted by {{post.user.username}} on {{post.created_at}}
                    |
                    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a></small></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="blog-posts">
        <button><a href="/blog">View All Blog Posts &nbsp;
        <i class="far fa-arrow-alt-circle-right"></i></a>
        </button>
    </div>
</div>

